Repository hmcts/snl-events, pull requests merged in 2018-12, with the labels that each got.

#208 [AKS] Feature/sl 1855/activity log implementation
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/AdjournHearingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/AssignSessionsToHearingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/UnlistHearingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/VacateHearingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/WithdrawHearingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/helpers/ActivityBuilder.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearingpart/AssignHearingPartToSessionAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/interfaces/ActivityLoggable.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/listingrequest/CreateListingRequestAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/ActivityLogController.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/exceptions/ActivityBuilderException.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/activities/ActivityStatus.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/db/ActivityLog.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/db/Hearing.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/ActivityResponse.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/repository/db/ActivityLogRepository.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/service/ActionService.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/service/RevertChangesManager.java
  src/main/resources/db/db-changelog.yaml
  src/main/resources/db/schema/SL-1855-add-additional-columns-to-activity-log-table.yaml
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/AdjournHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/AssignSessionsToHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/UnlistHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/VacateHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/WithdrawHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearingpart/AssignHearingPartToSessionActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/listingrequest/CreateListingRequestActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/ActivityLogControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/service/RevertChangesManagerTest.java
Labels: ns:snl-events-pr-208

#209 [AKS] - Feature/sl 1853/start time for listing
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearingpart/AmendScheduledListingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/HearingPartController.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/db/StatusConfig.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/request/AmendScheduledListingRequest.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/HearingWithSessionsResponse.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/ScheduledListingResponse.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/ViewSessionResponse.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/AdjournHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/UnlistHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/VacateHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/WithdrawHearingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearingpart/AmendScheduledListingActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/common/ActionTestHelper.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/models/response/HearingWithSessionsResponseTests.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/service/StatusServiceManagerTest.java
Labels: ns:snl-events-pr-209

#210 [AKS] Feature/sl 2043 automated rollback of user transaction
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/config/ScheduledRollbackConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/UserTransactionController.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/db/UserTransaction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/request/UserTransactionAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/UserTransactionActionResponse.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/repository/db/UserTransactionRepository.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/scheduledtasks/UserTransactionsRollbackScheduledTask.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/service/UserTransactionService.java
  src/main/resources/application.yaml
  src/main/resources/db/db-changelog.yaml
  src/main/resources/db/schema/SL-2043-add-startedAt-to-user_transaction-table.yaml
  src/test/integration/uk/gov/hmcts/reform/sandl/snlevents/fakerules/service/HearingPartServiceTest.java
  src/test/integration/uk/gov/hmcts/reform/sandl/snlevents/fakerules/service/SessionServiceTest.java
  src/test/integration/uk/gov/hmcts/reform/sandl/snlevents/service/UserTransactionsTests.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/scheduledtasks/UserTransactionsRollbackScheduledTaskTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/service/UserTransactionServiceTest.java
Labels: ns:snl-events-pr-210

#213 [AKS] SL-1878: add description to activityBuilder especially for adjournmen…
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/AdjournHearingAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/hearing/helpers/ActivityBuilder.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/HearingController.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/request/AdjournHearingRequest.java
Labels: ns:snl-events-pr-213

#217 [AKS] SL-2177 restrictions on changes to a session which contains listings
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/AmendSessionAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/DragAndDropSessionAction.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/helpers/AmendSessionValidators.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/db/Session.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/request/AmendSessionRequest.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/HearingPartResponse.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/model/response/SessionAmendResponse.java
  src/main/java/uk/gov/hmcts/reform/sandl/snlevents/repository/queries/SessionQueries.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/AmendSessionActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/DragAndDropSessionActionTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/helpers/AmendSessionValidatorsTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/actions/session/helpers/FailingRunnable.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/HearingPartControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/controllers/SessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/service/HearingPartServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/service/SessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sandl/snlevents/validation/ModelsValidationTest.java
Labels: ns:snl-events-pr-217
